<a href="https://www.kaggle.com/chandanarprasad/best-cities-and-countries-for-startup?scriptVersionId=85956383" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
import pandas as pd

In [2]:
Country = pd.read_csv('../input/best-cities-and-countries-for-startups-in-2021/Best Countries for Startups.csv')
City = pd.read_csv('../input/best-cities-and-countries-for-startups-in-2021/Best Cities for Startups.csv')

In [3]:
#Strip trailing whitespaces and replace space with underscore

Country.columns = Country.columns.str.strip()
Country.columns = Country.columns.str.replace(' ','_')

City.columns = City.columns.str.strip()
City.columns = City.columns.str.replace(' ','_')

In [4]:
# Top 10 ranked
Country[Country.ranking < 11]

,ranking,change_in_position_from_2020,country,total_score,quantity_score,quality_score,business_score,change_in_position_sign
0,1.0,0,United States,124.420,19.45,101.17,3.80,NaN
1,2.0,0,United Kingdom,28.719,8.16,16.86,3.70,NaN
2,3.0,0,Israel,27.741,5.48,19.14,3.13,NaN
3,4.0,0,Canada,19.876,6.58,9.75,3.55,NaN
4,5.0,0,Germany,17.053,3.64,9.93,3.49,NaN
5,6.0,4,Sweden,15.423,2.40,9.24,3.78,+
6,7.0,7,China,15.128,1.33,11.46,2.34,+
7,8.0,0,Switzerland,14.943,3.82,7.58,3.54,NaN
8,9.0,2,Australia,13.835,4.46,5.88,3.50,-
9,10.0,6,Singapore,13.745,3.21,7.69,2.84,+

In [5]:
# Top 10 positive change in position
Country[Country.change_in_position_sign == '+'].head(10)

,ranking,change_in_position_from_2020,country,total_score,quantity_score,quality_score,business_score,change_in_position_sign
5,6.0,4,Sweden,15.423,2.40,9.24,3.78,+
6,7.0,7,China,15.128,1.33,11.46,2.34,+
9,10.0,6,Singapore,13.745,3.21,7.69,2.84,+
19,20.0,3,India,8.833,1.83,4.40,2.61,+
22,23.0,1,Belgium,7.359,2.07,1.98,3.31,+
24,25.0,18,United Arab Emirates,6.951,1.73,2.42,2.80,+
25,26.0,4,Taiwan,6.946,1.50,2.09,3.36,+
26,27.0,4,Portugal,6.939,1.60,2.53,2.81,+
30,31.0,2,Norway,6.386,1.15,1.57,3.66,+
32,33.0,14,New Zealand,5.865,1.05,1.12,3.69,+

In [6]:
# Top 10 negative change in position
Country[Country.change_in_position_sign == '-'].head(10)

,ranking,change_in_position_from_2020,country,total_score,quantity_score,quality_score,business_score,change_in_position_sign
8,9.0,2,Australia,13.835,4.46,5.88,3.50,-
10,11.0,5,The Netherlands,13.700,3.44,6.96,3.30,-
12,13.0,2,Estonia,12.428,3.19,5.77,3.47,-
13,14.0,1,Finland,11.582,2.68,5.26,3.64,-
14,15.0,6,Spain,11.146,3.48,4.35,3.31,-
15,16.0,1,Lithuania,9.992,3.77,2.98,3.25,-
23,24.0,4,Brazil,7.326,1.05,3.99,2.29,-
28,29.0,4,Italy,6.602,1.68,1.87,3.06,-
29,30.0,3,Poland,6.515,1.40,1.95,3.17,-
31,32.0,6,Czechia,6.226,1.24,1.72,3.26,-

In [7]:
# Countries with quality score greater than 10
Country[Country.quality_score > 10]

,ranking,change_in_position_from_2020,country,total_score,quantity_score,quality_score,business_score,change_in_position_sign
0,1.0,0,United States,124.420,19.45,101.17,3.80,NaN
1,2.0,0,United Kingdom,28.719,8.16,16.86,3.70,NaN
2,3.0,0,Israel,27.741,5.48,19.14,3.13,NaN
6,7.0,7,China,15.128,1.33,11.46,2.34,+

In [8]:
# countries with quality score greater than 5
Country[Country.quality_score > 5]

,ranking,change_in_position_from_2020,country,total_score,quantity_score,quality_score,business_score,change_in_position_sign
0,1.0,0,United States,124.420,19.45,101.17,3.80,NaN
1,2.0,0,United Kingdom,28.719,8.16,16.86,3.70,NaN
2,3.0,0,Israel,27.741,5.48,19.14,3.13,NaN
3,4.0,0,Canada,19.876,6.58,9.75,3.55,NaN
4,5.0,0,Germany,17.053,3.64,9.93,3.49,NaN
5,6.0,4,Sweden,15.423,2.40,9.24,3.78,+
6,7.0,7,China,15.128,1.33,11.46,2.34,+
7,8.0,0,Switzerland,14.943,3.82,7.58,3.54,NaN
8,9.0,2,Australia,13.835,4.46,5.88,3.50,-
9,10.0,6,Singapore,13.745,3.21,7.69,2.84,+
10,11.0,5,The Netherlands,13.700,3.44,6.96,3.30,-
11,12.0,0,France,13.286,3.03,6.85,3.41,NaN
12,13.0,2,Estonia,12.428,3.19,5.77,3.47,-
13,14.0,1,Finland,11.582,2.68,5.26,3.64,-
16,17.0,0,Russia,9.813,2.17,5.14,2.51,NaN

In [9]:
# Countries with quality score 3 and above that are growing positively
Country[(Country.quality_score > 3) & (Country.change_in_position_sign == '+')]

,ranking,change_in_position_from_2020,country,total_score,quantity_score,quality_score,business_score,change_in_position_sign
5,6.0,4,Sweden,15.423,2.40,9.24,3.78,+
6,7.0,7,China,15.128,1.33,11.46,2.34,+
9,10.0,6,Singapore,13.745,3.21,7.69,2.84,+
19,20.0,3,India,8.833,1.83,4.40,2.61,+

In [10]:
# Countries with quality score above 3 that are on the decline
Country[(Country.quality_score > 3) & (Country.change_in_position_sign == '-')]

,ranking,change_in_position_from_2020,country,total_score,quantity_score,quality_score,business_score,change_in_position_sign
8,9.0,2,Australia,13.835,4.46,5.88,3.50,-
10,11.0,5,The Netherlands,13.700,3.44,6.96,3.30,-
12,13.0,2,Estonia,12.428,3.19,5.77,3.47,-
13,14.0,1,Finland,11.582,2.68,5.26,3.64,-
14,15.0,6,Spain,11.146,3.48,4.35,3.31,-
23,24.0,4,Brazil,7.326,1.05,3.99,2.29,-

In [11]:
# Top 10 ranked cities for startup
City[City.position <11]

,position,change_in_position_from_2020,city,country,total_score,quatity_score,quality_score,business_score,sign_of_change_in_position
0,1,0,San Francisco Bay,United States,328.966,29.14,296.02,3.80,NaN
1,2,0,New York,United States,110.777,11.43,95.55,3.80,NaN
2,3,3,Beijing,China,66.049,5.01,58.61,2.43,+
3,4,1,Los Angeles Area,United States,58.441,11.23,43.41,3.80,+
4,5,2,London,United Kingdom,56.913,15.77,37.44,3.70,-
5,6,2,Boston Area,United States,49.835,5.50,40.53,3.80,-
6,7,3,Shanghai,China,42.162,3.57,36.17,2.43,+
7,8,1,Tel Aviv Area,Israel,27.084,4.04,19.92,3.13,-
8,9,0,Moscow,Russia,25.401,7.37,15.64,2.39,NaN
9,10,4,Bangalore,India,25.367,5.04,17.95,2.38,+

In [12]:
# Top 10 cities for startup that are on the rise
City[City.sign_of_change_in_position == '+'].head(10)

,position,change_in_position_from_2020,city,country,total_score,quatity_score,quality_score,business_score,sign_of_change_in_position
2,3,3,Beijing,China,66.049,5.01,58.61,2.43,+
3,4,1,Los Angeles Area,United States,58.441,11.23,43.41,3.80,+
6,7,3,Shanghai,China,42.162,3.57,36.17,2.43,+
9,10,4,Bangalore,India,25.367,5.04,17.95,2.38,+
10,11,1,Paris,France,25.297,5.27,16.62,3.41,+
13,14,1,New Delhi,India,22.379,5.88,13.90,2.61,+
14,15,1,Tokyo,Japan,21.792,2.50,16.00,3.30,+
15,16,6,Mumbai,India,19.414,3.27,13.54,2.61,+
18,19,11,Washington DC Area,United States,18.064,3.47,10.79,3.80,+
20,21,12,Shenzhen,China,17.403,1.76,13.66,1.99,+

In [13]:
# Top 10 cities for startup that have gone lower in the position
City[City.sign_of_change_in_position == '-'].head(10)

,position,change_in_position_from_2020,city,country,total_score,quatity_score,quality_score,business_score,sign_of_change_in_position
4,5,2,London,United Kingdom,56.913,15.77,37.44,3.70,-
5,6,2,Boston Area,United States,49.835,5.50,40.53,3.80,-
7,8,1,Tel Aviv Area,Israel,27.084,4.04,19.92,3.13,-
11,12,1,Seattle,United States,24.329,3.49,17.04,3.80,-
12,13,5,Berlin,Germany,23.872,4.03,16.35,3.49,-
16,17,4,Chicago,United States,19.121,4.37,10.95,3.80,-
17,18,1,Austin,United States,18.598,3.20,11.60,3.80,-
19,20,2,Sao Paulo,Brazil,17.642,2.63,12.72,2.29,-
22,23,2,Seoul,South Korea,16.680,1.60,11.83,3.24,-
25,26,2,Toronto,Canada,15.678,4.64,7.49,3.55,-

In [14]:
# Cities with quality score greater than 50
City[City.quality_score > 50]

,position,change_in_position_from_2020,city,country,total_score,quatity_score,quality_score,business_score,sign_of_change_in_position
0,1,0,San Francisco Bay,United States,328.966,29.14,296.02,3.80,NaN
1,2,0,New York,United States,110.777,11.43,95.55,3.80,NaN
2,3,3,Beijing,China,66.049,5.01,58.61,2.43,+

In [15]:
# Cities with quality score greater than 40
City[City.quality_score > 40]

,position,change_in_position_from_2020,city,country,total_score,quatity_score,quality_score,business_score,sign_of_change_in_position
0,1,0,San Francisco Bay,United States,328.966,29.14,296.02,3.80,NaN
1,2,0,New York,United States,110.777,11.43,95.55,3.80,NaN
2,3,3,Beijing,China,66.049,5.01,58.61,2.43,+
3,4,1,Los Angeles Area,United States,58.441,11.23,43.41,3.80,+
5,6,2,Boston Area,United States,49.835,5.50,40.53,3.80,-

In [16]:
# Cities that are rising with quality score beyond 10
City[(City.quality_score > 10) & (City.sign_of_change_in_position == '+')]

,position,change_in_position_from_2020,city,country,total_score,quatity_score,quality_score,business_score,sign_of_change_in_position
2,3,3,Beijing,China,66.049,5.01,58.61,2.43,+
3,4,1,Los Angeles Area,United States,58.441,11.23,43.41,3.80,+
6,7,3,Shanghai,China,42.162,3.57,36.17,2.43,+
9,10,4,Bangalore,India,25.367,5.04,17.95,2.38,+
10,11,1,Paris,France,25.297,5.27,16.62,3.41,+
13,14,1,New Delhi,India,22.379,5.88,13.90,2.61,+
14,15,1,Tokyo,Japan,21.792,2.50,16.00,3.30,+
15,16,6,Mumbai,India,19.414,3.27,13.54,2.61,+
18,19,11,Washington DC Area,United States,18.064,3.47,10.79,3.80,+
20,21,12,Shenzhen,China,17.403,1.76,13.66,1.99,+
21,22,6,San Diego,United States,17.272,2.64,10.83,3.80,+
23,24,5,Stockholm,Sweden,15.748,1.83,10.13,3.78,+
32,33,12,Hangzhou,China,13.167,0.95,10.14,2.08,+

In [17]:
# Cities that are on the decline with quality score beyond 10
City[(City.quality_score > 10) & (City.sign_of_change_in_position == '-')]

,position,change_in_position_from_2020,city,country,total_score,quatity_score,quality_score,business_score,sign_of_change_in_position
4,5,2,London,United Kingdom,56.913,15.77,37.44,3.70,-
5,6,2,Boston Area,United States,49.835,5.50,40.53,3.80,-
7,8,1,Tel Aviv Area,Israel,27.084,4.04,19.92,3.13,-
11,12,1,Seattle,United States,24.329,3.49,17.04,3.80,-
12,13,5,Berlin,Germany,23.872,4.03,16.35,3.49,-
16,17,4,Chicago,United States,19.121,4.37,10.95,3.80,-
17,18,1,Austin,United States,18.598,3.20,11.60,3.80,-
19,20,2,Sao Paulo,Brazil,17.642,2.63,12.72,2.29,-
22,23,2,Seoul,South Korea,16.680,1.60,11.83,3.24,-

In [18]:
City[(City.position > 0) & (City.position < 51) & (City.sign_of_change_in_position == '+') & (City.total_score > 20)]

,position,change_in_position_from_2020,city,country,total_score,quatity_score,quality_score,business_score,sign_of_change_in_position
2,3,3,Beijing,China,66.049,5.01,58.61,2.43,+
3,4,1,Los Angeles Area,United States,58.441,11.23,43.41,3.80,+
6,7,3,Shanghai,China,42.162,3.57,36.17,2.43,+
9,10,4,Bangalore,India,25.367,5.04,17.95,2.38,+
10,11,1,Paris,France,25.297,5.27,16.62,3.41,+
13,14,1,New Delhi,India,22.379,5.88,13.90,2.61,+
14,15,1,Tokyo,Japan,21.792,2.50,16.00,3.30,+

In [19]:
City[(City.position > 0) & (City.position < 51) & (City.sign_of_change_in_position == '+') & (City.business_score > 3) & (City.total_score > 20)]

,position,change_in_position_from_2020,city,country,total_score,quatity_score,quality_score,business_score,sign_of_change_in_position
3,4,1,Los Angeles Area,United States,58.441,11.23,43.41,3.80,+
10,11,1,Paris,France,25.297,5.27,16.62,3.41,+
14,15,1,Tokyo,Japan,21.792,2.50,16.00,3.30,+

In [20]:
City[(City.position > 0) & (City.position < 51) & (City.sign_of_change_in_position == '-') & (City.business_score > 3) & (City.total_score > 20)]

,position,change_in_position_from_2020,city,country,total_score,quatity_score,quality_score,business_score,sign_of_change_in_position
4,5,2,London,United Kingdom,56.913,15.77,37.44,3.70,-
5,6,2,Boston Area,United States,49.835,5.50,40.53,3.80,-
7,8,1,Tel Aviv Area,Israel,27.084,4.04,19.92,3.13,-
11,12,1,Seattle,United States,24.329,3.49,17.04,3.80,-
12,13,5,Berlin,Germany,23.872,4.03,16.35,3.49,-

In [21]:
City[(City.position > 0) & (City.position < 51) & (City.sign_of_change_in_position == '-') & (City.quality_score > 20) &  (City.total_score > 20)]

,position,change_in_position_from_2020,city,country,total_score,quatity_score,quality_score,business_score,sign_of_change_in_position
4,5,2,London,United Kingdom,56.913,15.77,37.44,3.7,-
5,6,2,Boston Area,United States,49.835,5.50,40.53,3.8,-

In [22]:
City[(City.position > 0) & (City.position < 51) & (City.sign_of_change_in_position == '+') & (City.quality_score > 20) &  (City.total_score > 20)]

,position,change_in_position_from_2020,city,country,total_score,quatity_score,quality_score,business_score,sign_of_change_in_position
2,3,3,Beijing,China,66.049,5.01,58.61,2.43,+
3,4,1,Los Angeles Area,United States,58.441,11.23,43.41,3.80,+
6,7,3,Shanghai,China,42.162,3.57,36.17,2.43,+

In [23]:
City[(City.position > 0) & (City.position < 51) & (City.sign_of_change_in_position == '+') & (City.quality_score > 20) &  (City.business_score > 2)]

,position,change_in_position_from_2020,city,country,total_score,quatity_score,quality_score,business_score,sign_of_change_in_position
2,3,3,Beijing,China,66.049,5.01,58.61,2.43,+
3,4,1,Los Angeles Area,United States,58.441,11.23,43.41,3.80,+
6,7,3,Shanghai,China,42.162,3.57,36.17,2.43,+

In [24]:
City[(City.position > 0) & (City.position < 51) & (City.sign_of_change_in_position == '-') & (City.quality_score > 20) &  (City.business_score > 2)]

,position,change_in_position_from_2020,city,country,total_score,quatity_score,quality_score,business_score,sign_of_change_in_position
4,5,2,London,United Kingdom,56.913,15.77,37.44,3.7,-
5,6,2,Boston Area,United States,49.835,5.50,40.53,3.8,-